{% extends 'base.html.twig' %}

{% block title 'Fiche vidéo' %}

{% block content %}
	<div class="album py-5 bg-body-tertiary">
		<div class="container">
			<div class="row">
				<h1 class="mb-2">{{ video.title }}</h1>

				<div class="col-2 mb-5">
					<a href="{{ path('app_home') }}" class="btn btn-sm btn-success">Retourner sur l'accueil</a>
				</div>

				<div class="w-100"></div>

				<div class="col">
					<div class="card shadow-sm" style="min-height: 700px;">
						<img src="{{ video.thumbnail }}" class="img-responsive">
						<div class="card-body p-5">
							<h3 style="font-weight: bold;" class="mb-3">{{ video.title }}</h3>
							<small class="card-text text-secondary">{{ video.description }}</small>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group mt-5">
									<a href="{{ video.url }}" type="button" class="btn btn-sm btn-outline-secondary">Regarder la vidéo</a>
									<ul>
										{# Système d'ajout à la playlist #}
										{% for playlist in playlists %}
											<li>
												<a class="dropdown-item" href="{{ path('app_playlist_add_video', {'video': video.id, 'playlist': playlist.id}) }}">{{ playlist.name }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
								<small class="text-body-secondary">{{ video.createdAt|date('d-m-Y') }}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
